
body{ 
width: 95%;      
background: url(https://besthqwallpapers.com/Uploads/28-11-2019/113456/thumb-youtube-red-logo-4k-red-brickwall-youtube-logo-brands.jpg) no-repeat center;
background-size: 100%;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}